# Your Wallet Private Key (Starting with 0x)
PRIVATE_KEY=

# Your A2A Paymaster API Key
# Register at: https://paymaster.a10m.work providing your Signer Address
A2A_PAYMASTER_API_KEY=

# RPC URL (Base Mainnet)
RPC_URL=https://mainnet.base.org

# Paymaster URL
PAYMASTER_URL=https://paymaster.a10m.work/v1/paymaster
